<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860227011726-14ls6k5d01l2ipbl7rtku385oqlpihs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860227011726-14ls6k5d01l2ipbl7rtku385oqlpihs5</string>
	<key>API_KEY</key>
	<string>AIzaSyCJm8osvC1IHWF1eTBzR8Jl7GUEJepTsog</string>
	<key>GCM_SENDER_ID</key>
	<string>860227011726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.dotlog.aizuchi.prod</string>
	<key>PROJECT_ID</key>
	<string>aizuchi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>aizuchi-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860227011726:ios:1fff948a8cedf4eed3f5df</string>
</dict>
</plist>