<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64609432781-hjfbtp5bfii0nvd4n2khv0eq4a9cgj2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64609432781-hjfbtp5bfii0nvd4n2khv0eq4a9cgj2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCmp1wpTj7EDCt7N_G0ll1zVn4JefzCgEM</string>
	<key>GCM_SENDER_ID</key>
	<string>64609432781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aizuchiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aizuchi-dotlog</string>
	<key>STORAGE_BUCKET</key>
	<string>aizuchi-dotlog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64609432781:ios:1d17e184d7a6a6f7db2584</string>
	<key>DATABASE_URL</key>
	<string>https://aizuchi-dotlog-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>